*{box-sizing: border-box;
    margin:0;
    padding: 0;
    }
    
    .clearfix::after{
        content: "";
        display:table;
        clear:both;
    }
    
    .fl{
        float: left;
        
        
    }
    
    
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    nav{
        background-color: chartreuse;
        height: 400px;
        margin: 20px 0;
    }
    
    header{
        height: 100px;
        background-color: rgb(234, 0, 255);
        margin-bottom: 15px;
    }
    
    
    .main-page{
        background-color: rgb(223, 226, 43);
        margin: 20px 0 10px 0;
        padding-bottom: 20px;
    }
    
    
    .text-paragraph{
        height: 100px;
        background: cornflowerblue;
        margin-bottom: 20px;
    }
    
    .left{
        width: 25%;
        height: 500px;
        padding-left: 10px;
    }
    
    .center{
        width: 50%;
        height: 500px;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .right{
        width: 25%;
        height: 500px;
        padding-left: 20px;
    }
    
    
    footer{
        
        padding: 1%;
        background-color: blueviolet;
        height: 80px;
        margin-top: 15px;
    }
    
    .content {
        background: rgb(136, 221, 119);
        height: 500px;
    }
    
    .leader{
        height: 50px;
        background-color: rgb(155, 244, 247);
        margin-bottom: 20px;
    }
    